:root {
    --red: hsl(0, 100%, 66%);
    --white: hsl(0, 0%, 100%);
    --lightgrayishviolet: hsl(270, 3%, 87%);
    --darkgrayishviolet: hsl(279, 6%, 55%);
    --verydarkviolet: hsl(278, 68%, 11%);
}

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 18px;
    font-family: "Space Grotesk", sans-serif;
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.aside {
    position: relative;
    width: 100%;
    height: 30vh;
    background-image: url("../src/images/bg-main-mobile.png");
    background-size: 100%;
    background-position: cover;
    background-repeat: no-repeat;
}

.cards {
    top: 3em;
    left: 2em;
    bottom: -2em;
    height: 500px;
    width: 80%;
    height: 80%;
    border: 1px solid red;
    position: absolute;
    display: flex;
}

.card_front {
    border: 1px solid green;
    position: absolute;
}

.card_back {
    border: 1px solid green;
    position: absolute;
}

.content {
    width: 100%;
    height: 70%;
}

.form {
    display: flex;
    flex-direction: column;
}

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (min-width: 1440px) {
}

@media (max-width: 800px) {
}

/*
# Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Linear gradient (active input border): hsl(249, 99%, 64%) to hsl(278, 94%, 30%)
- Red (input errors): hsl(0, 100%, 66%)

### Neutral

- White: hsl(0, 0%, 100%)
- Light grayish violet: hsl(270, 3%, 87%)
- Dark grayish violet: hsl(279, 6%, 55%)
- Very dark violet: hsl(278, 68%, 11%)

## Typography

### Body Copy

- Font size: 18px

### Font

- Family: [Space Grotesk](https://fonts.google.com/specimen/Space+Grotesk)
- Weights: 500
*/
